.user-cards {
    flex-grow: 1;
}

.user-cards-list {    
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-right: 5.3rem;
    list-style-type: none;
}

.user-cards-list > li:not(:last-child) {
    margin-bottom: 30px;
}