.user-cards {
    max-width: 951px;
}

.user-cards-list {    
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    margin-bottom: 50px;
    list-style-type: none;
}

.user-cards-list > li:not(:last-child) {
    margin-bottom: 30px;
}