.country-filter {
    width: 100%;
    padding: 0;
    padding-top: 3.5625rem;
    margin-bottom: 3rem;
}

.country-filter-form {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.country-filter-title {
    position: relative;
    padding: 0;
    padding-left: 4.125rem;
    margin: 0;
    margin-right: 5px;
    font: inherit;
    color: #192144;
    font-weight: 700;
    background-image: url('../../../public/img/country-filter.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 1.3125rem;
}

.country-filter-continents {
    display: flex;
    border: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.filter-continent-label {
    margin-right: 1.4375rem;
    color: rgba($color: #192144, $alpha: 0.3);
    cursor: pointer;
    font-weight: 700;
}

.filter-continent-label:last-child {
    margin-right: 0;
}

.filter-continent-input {

    &:checked ~ * {
      color: #192144;  
    }

    &:hover ~ * {
        color: rgba($color: #192144, $alpha: 0.6);
    }

    &:active ~ * {
        color: rgba($color: #192144, $alpha: 0.3);
    }
    
}

.country-filter-rollup-button {    
    flex-grow: 1;
    min-height: 100px;
    margin: 0;
    margin-bottom: 6.375rem;
    background-color: #d6daed;
    border: none;
    border-radius: 1.25rem;
    font: inherit;
    cursor: pointer;

    &:hover {
        background-color: #c8cee8;
    }

    &:active {
        background-color: #c8cee8;
    }

    &:active > * {
        opacity: 0.3;
    }
}

.rollup-button-text {
    position: relative;
    padding-left: 2.4375rem;  
      
    color: #192144;    
    text-transform: uppercase;
    font-weight: 700;
}

.rollup-button-text::after,
.rollup-button-text::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.375rem;
    height: 2px;
    border-radius: 2.8px;
    background-color: #192144;
    content: '';
}

.rollup-button-text::after {
    transform: translateY(-50%) rotate(45deg);
}

.rollup-button-text::before {
    transform: translateY(-50%) rotate(-45deg);
}
