.tripmates-filter-container {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 13.06rem;
    padding: 2.875rem;
    background-color: #cce5fa;
    border-radius: 20px;
}

.tripmates-filter-title {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 34px;
}


.tripmates-filter-submit-btn {
    width: 100%;
    min-height: 49px;    
    margin: 0;
    background-color: #ffffff;
    border:  none;
    font: inherit;
    font-weight: 700;
    color: #161c35;
    text-transform: uppercase;
    border-radius: 25px;
}

.sliderThumb {
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
}