.buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column
    }
}

.nextButton {
    background-color: #A8D2F4;
    border-style: none;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 186px;

    font-weight: 700;
    font-size: 16px;
    color: #1D2E5B;
}

.prevButton {
    background-color: inherit;
    border: none;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    min-width: 186px;

    font-weight: 700;
    font-size: 16px;
    color: #1D2E5B;
}

.nextButton:hover {
    cursor: pointer;
}

.prevButton:hover {
    cursor: pointer;
}

.disabledButton {
    opacity: 0.3;
}

.errorSpan {
    flex-direction: column;
    align-items: start;
    span {
        color: red;
    }
}