.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #AED0EB;
    border-radius: 45px 45px 0 0;
    width: 100%;
}

.formLayout {
    background-color: #FFFFFF;
    border-radius: 45px;
    max-width: 1320px;
    width: 100%;
    margin-bottom: 75px;
}

.formWrapper {
    padding: 30px 100px 50px 100px;
}

.titleBox {
    max-width: 900px;
}

.stepTitle {
    color: #1D2E5B;
}

.stepDescription {
    color: #444444;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E1E3E9;
    padding: 20px 0px;
}