.inputs-list-item {
    margin-bottom: 16px;
}

.inputs-list-label {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100% - 2.31rem);
    padding: 0;
    margin: 0;
    padding-left: 2.31rem;
    cursor: pointer;
}

.checkbox-control,
.radio-control {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ffffff;
    border-radius: 0.25rem;
}

.radio-control {
    border-radius: 50%;
}

.inputs-list-input:checked ~ .checkbox-control {
    background-image: url('../../../public/img/checkbox-tick.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.inputs-list-input:checked ~ .radio-control::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: 45%;
    background-color: #1d2e5b;
    border-radius: 50%;
    content: "";
}


.filter-transport-list {
    display: flex;
    justify-content: start;
}

.filter-transport-list .inputs-list-label {
    width: 100%;
    padding: 0;
}

.transport-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;    
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    margin-right: 1px;
}

.filter-transport-icon {
    fill: #d9d9d9;
}

.inputs-list-input:checked ~ .transport-control .filter-transport-icon {
    fill: #1d2e5b;
}

.inputs-list-input:hover ~ * {
    opacity: 0.6;
}

.inputs-list-input:checked:hover ~ .radio-control,
.inputs-list-input:checked:hover ~ .checkbox-control {
    opacity: 1;
}

.inputs-list-input:checked:active ~ .radio-control,
.inputs-list-input:checked:active ~ .checkbox-control,
.inputs-list-input:active ~ * {
    opacity: 0.3;
}

.inputs-list-input:hover ~ .transport-control {
    box-shadow: 0 2px 6px 0 rgba($color: #161c35 , $alpha: 0.17);
    opacity: 1;
}

.inputs-list-input:hover ~ .filter-transport-icon {
    opacity: 0.7;
}

.inputs-list-input:checked:hover ~ .filter-transport-icon {
   fill: #b2b2b2;
   opacity: 1;
}

.inputs-list-input:active ~ .transport-control {
    background-color: #e2e5f1;
    opacity: 1;
}

.inputs-list-input:checked:active ~ .filter-transport-icon {    
    fill: rgba($color: #1d2e5b , $alpha: 0.3);
}

.inputs-list-input:active ~ .filter-transport-icon {
    fill:rgba($color: #1d2e5b , $alpha: 0.1); 
}